.footer {
    display: flex;
    width: 1280px;
    height: 69px;
    margin-top: 51px;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
}

.footer-link {
    padding-left: 40px;
    font-size: 28px;
    line-height: 28px;
}

.footer-link > a {
    color: #0C1927;
}

.footer-link > a:hover {
    color: #3181A6;
    text-decoration: underline #3181A6;
}

.copyright {
    color: #010101;
    margin-left: auto;
    padding-right: 40px;
    font-size: 24px;
    line-height: 24px;
}
