.main {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid #000000;
}

.aside-link {
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    font-family: 'Roboto', Arial, sans-serif;
    align-items: center;
}

.aside-link > a {
    color: #485863;
}

.aside-link:first-child {
    padding-top: 27px;
}

.aside-link:hover {
    background-color: #DBDBDB;
    text-align: center;
    padding-left: 0;
}

.aside-link:hover a {
    color: #000000;
}

.aside-link:last-child {
    padding-bottom: 30px;
}

.article {
    display: flex;
    flex-direction: column;
    width: 885px;
}

.main-img {
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}

.main-img img {
    width: 320px;
    height: 381px;
    transition: transform 0.25s;
    overflow: hidden;
}

.main-img:hover img {
    transform: scale(1.1);
}

.article-text {
    padding-top: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #2C2C2C;
}
