body {
    max-width: 1280px;
    margin: 63px auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo {
    width: 334px;
    padding-bottom: 38px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.logo-Ra {
    color: #000000;
}

.navbar {
    display: flex;
    width: 1283px;
    height: 72px;
    justify-content: center;
    background-color: #35444F;
}

.navbar-link {
    padding-top: 26px;
    padding-bottom: 19px;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.navbar-link > a {
    color: #FFFFFF;
}

.navbar-link:first-child {
    border-left: 1px solid white;
    flex-basis: 330px;
}

.navbar-link:nth-child(2) {
    border-left: 1px solid white;
    flex-basis: 153px;
}

.navbar-link:hover {
    background-color: #222F3A;
}

.navbar-link:nth-child(3) {
    border-left: 1px solid white;
    flex-basis: 284px;
}

.navbar-link:last-child {
    border-left: 1px solid white;
    border-right: 1px solid white;
    flex-basis: 221px;
}
